
.create-book {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: #2a2a2a;
    background: #b0b0b0;
    text-align: left;
    font-size: 14px;
    margin: 20px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 350px
}

.create-book div {
    width: 100%;
}

.create-book:hover {
    border: 1px solid white;
}

.create-book__input {
    width: 100%;
    margin-bottom: 20px
}

.create-book__submit {
    width: 100%;
}
